# Calibration and Dense Cloud
opencv-contrib-python
matplotlib
open3d
scikit-learn

# KP extraction
torch 
torchvision 
torchaudio
# torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121 (thisone is using cuda12.1 is for windows)
ultralytics